<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tyson.transguard" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>


    <permission
        android:name="com.example.tyson.transguard.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.tyson.transguard.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tg_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TransGuard"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TransGuardMainMenu"
            android:label="@string/title_activity_trans_guard_main_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TransGuardPastTransactionList"
            android:label="@string/title_activity_trans_guard_past_transaction_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TransGuardPastTransaction"
            android:label="@string/title_activity_trans_guard_past_transaction"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TransGuardPastTransactionSecondList"
            android:label="@string/title_activity_trans_guard_past_transaction_second_list"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.tyson.transguard" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmMessageHandler" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="21" />

        <activity
            android:name=".About"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
